.auth-bg {
    background: linear-gradient(to right, #4e73df, #1cc88a);
}

.switch-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.switch-text span {
    color: #4e73df;
    cursor: pointer;
    font-weight: bold;
}

.switch-text span:hover {
    text-decoration: underline;
}